body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    font-weight: bold;
}

.contact-button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.contact-button:hover {
    background: black;
    color: white;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

.and-symbol {
    display: inline-block;
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 40px;
}

.bio-text {
    font-size: 20px;
    margin-top: 20px;
}

/* Стили модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}
